/* ---- Theme Colors Variables ---- */

$black: #000000;
$cultured: #f4f4f4;
$gainsboro: #E4E4E4;
$bluewood: #2F4858;
$green: #23AF6B;
$white: #FFFFFF;
$darkgray: #7a7a7b;
$lightblack: #45474b;
$red: #ff4949;

$primary: $green;
$secondary: $bluewood;

/* ---- Theme Fonts Variables ---- */
